<p>form works!</p>
<form [formGroup]="form">
    <div *ngFor="let key of Object.keys(fields)">
      <label>{{key}}</label>
      <div *ngIf="fields[key].type === 'text' || fields[key].type === 'number'">
        <input [type]="form.value[key].type" [formControlName]="key">
      </div>
      <div *ngIf="fields[key].type === 'select'">
        <select [formControlName]="key">
          <option disabled selected value></option>
          <option *ngFor="let param of fields[key].options">{{param}}</option>
        </select>
      </div>
    </div>
    <input type="submit" (click)="onSubmit()">
  </form>